# Read file

In [1]:
import pandas as pd
from io import StringIO

with open("../data/CS_data.txt", "r", encoding="utf-8") as file:
    data = file.read()

# Load the CS_data.txt file into a DataFrame
data_df = pd.read_csv(StringIO(data), sep="\t")
print(type(data_df))

# Display the first few rows of the dataset to understand its structure
data_df.head()
print(data_df.columns)

<class 'pandas.core.frame.DataFrame'>
Index(['ID_CLIENT', 'CLERK_TYPE', 'PAYMENT_DAY', 'APPLICATION_SUBMISSION_TYPE',
       'QUANT_ADDITIONAL_CARDS', 'POSTAL_ADDRESS_TYPE', 'SEX',
       'MARITAL_STATUS', 'QUANT_DEPENDANTS', 'EDUCATION_LEVEL',
       'STATE_OF_BIRTH', 'CITY_OF_BIRTH', 'NATIONALITY', 'RESIDENCIAL_STATE',
       'RESIDENCIAL_CITY', 'RESIDENCIAL_BOROUGH', 'FLAG_RESIDENCIAL_PHONE',
       'RESIDENCIAL_PHONE_AREA_CODE', 'RESIDENCE_TYPE', 'MONTHS_IN_RESIDENCE',
       'FLAG_MOBILE_PHONE', 'FLAG_EMAIL', 'PERSONAL_MONTHLY_INCOME',
       'OTHER_INCOMES', 'FLAG_VISA', 'FLAG_MASTERCARD', 'FLAG_DINERS',
       'FLAG_AMERICAN_EXPRESS', 'FLAG_OTHER_CARDS', 'QUANT_BANKING_ACCOUNTS',
       'QUANT_SPECIAL_BANKING_ACCOUNTS', 'PERSONAL_ASSETS_VALUE', 'QUANT_CARS',
       'COMPANY', 'PROFESSIONAL_STATE', 'PROFESSIONAL_CITY',
       'PROFESSIONAL_BOROUGH', 'FLAG_PROFESSIONAL_PHONE',
       'PROFESSIONAL_PHONE_AREA_CODE', 'MONTHS_IN_THE_JOB', 'PROFESSION_CODE',
       'OCCUPATION_TYPE', 'MATE_PROFESSION_CODE', 'EDUCATION_LEVEL.1',
       'FLAG_HOME_ADDRESS_DOCUMENT', 'FLAG_RG', 'FLAG_CPF',
       'FLAG_INCOME_PROOF', 'PRODUCT', 'FLAG_ACSP_RECORD', 'AGE',
       'RESIDENCIAL_ZIP_3', 'PROFESSIONAL_ZIP_3', 'TARGET_LABEL_BAD.1'],
      dtype='object')

C:\Users\redhawc\AppData\Local\Temp\ipykernel_29860\2336589921.py:8: DtypeWarning: Columns (52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  data_df = pd.read_csv(StringIO(data), sep="\t")

# data cleaning and pre-processing

In [2]:
# Display descriptive statistics of the dataset
data_descriptive_stats = data_df.describe(include="all")

# Display the descriptive statistics for the first few columns for brevity
data_descriptive_stats.iloc[:, :10]

,ID_CLIENT,CLERK_TYPE,PAYMENT_DAY,APPLICATION_SUBMISSION_TYPE,QUANT_ADDITIONAL_CARDS,POSTAL_ADDRESS_TYPE,SEX,MARITAL_STATUS,QUANT_DEPENDANTS,EDUCATION_LEVEL
count,50000.000000,50000,50000.000000,50000,50000.0,50000.000000,50000,50000.00000,50000.000000,826.000000
unique,NaN,1,NaN,3,NaN,NaN,4,NaN,NaN,NaN
top,NaN,C,NaN,Web,NaN,NaN,F,NaN,NaN,NaN
freq,NaN,50000,NaN,25232,NaN,NaN,30805,NaN,NaN,NaN
mean,25000.500000,NaN,-167.151640,NaN,0.0,1.006540,NaN,2.14840,0.650520,1.721550
std,14433.901067,NaN,4239.371262,NaN,0.0,0.080606,NaN,1.32285,1.193655,0.448508
min,1.000000,NaN,-99999.000000,NaN,0.0,1.000000,NaN,0.00000,0.000000,1.000000
25%,12500.750000,NaN,10.000000,NaN,0.0,1.000000,NaN,1.00000,0.000000,1.000000
50%,25000.500000,NaN,10.000000,NaN,0.0,1.000000,NaN,2.00000,0.000000,2.000000
75%,37500.250000,NaN,15.000000,NaN,0.0,1.000000,NaN,2.00000,1.000000,2.000000
max,50000.000000,NaN,25.000000,NaN,0.0,2.000000,NaN,7.00000,53.000000,2.000000

### handle missing values
identifying all the missing values according to variable list

In [3]:
# Re-reading the variable list from the provided Excel file
variable_list_df = pd.read_excel("../data/variable list.XLS.xls")

# Display the content of the variable list
variable_list_df[["Var_Title", "Var_Description", "Field_Content"]]

,Var_Title,Var_Description,Field_Content
0,ID_CLIENT,Sequential number for the applicant (to be use...,"1-50000, 50001-70000, 70001-90000"
1,CLERK_TYPE,Not informed,C
2,PAYMENT_DAY,"Day of the month for bill payment, chosen by t...","1,5,10,15,20,25"
3,APPLICATION_SUBMISSION_TYPE,Indicates if the application was submitted via...,"Web, Carga"
4,QUANT_ADDITIONAL_CARDS,Quantity of additional cards asked for in the ...,"1,2,NULL"
5,POSTAL_ADDRESS_TYPE,Indicates if the address for posting is the ho...,1.2
6,SEX,NaN,"M=Male, F=Female"
7,MARITAL_STATUS,Encoding not informed,"1,2,3,4,5,6,7"
8,QUANT_DEPENDANTS,NaN,"0, 1, 2, ..."
9,EDUCATION_LEVEL,Edducational level in gradual order not informed,"1,2,3,4,5"
10,STATE_OF_BIRTH,NaN,"Brazilian states, XX, missing"
11,CITY_OF_BIRTH,NaN,NaN
12,NACIONALITY,Country of birth. Encoding not informed but Br...,"0, 1, 2"
13,RESIDENCIAL_STATE,State of residence,NaN
14,RESIDENCIAL_CITY,City of residence,NaN
15,RESIDENCIAL_BOROUGH,Borough of residence,NaN
16,FLAG_RESIDENCIAL_PHONE,Indicates if the applicant possesses a home phone,"Y,N"
17,RESIDENCIAL_PHONE_AREA_CODE,Three-digit pseudo-code,NaN
18,RESIDENCE_TYPE,"Encoding not informed. In general, there are t...","1,2,3,4,5,NULL"
19,MONTHS_IN_RESIDENCE,Time in the current residence in months,"1,2,... , NULL"
20,FLAG_MOBILE_PHONE,Indicates if the applicant possesses a mobile ...,"Y,N"
21,FLAG_EMAIL,Indicates if the applicant possesses an e-mail...,0.1
22,PERSONAL_MONTHLY_INCOME,Applicant's personal regular monthly income in...,NaN
23,OTHER_INCOMES,Applicant's other incomes monthly averaged in ...,NaN
24,FLAG_VISA,Flag indicating if the applicant is a VISA cre...,0.1
25,FLAG_MASTERCARD,Flag indicating if the applicant is a MASTERCA...,0.1
26,FLAG_DINERS,Flag indicating if the applicant is a SINERS c...,0.1
27,FLAG_AMERICAN_EXPRESS,Flag indicating if the applicant is an AMERICA...,0.1
28,FLAG_OTHER_CARDS,"Despite being label ""FLAG"", this field present...","0,1,NULL"
29,QUANT_BANKING_ACCOUNTS,NaN,"0,1,2"
30,QUANT_SPECIAL_BANKING_ACCOUNTS,NaN,"0,1,2"
31,PERSONAL_ASSETS_VALUE,Total value of the personal possessions such a...,NaN
32,QUANT_CARS,Quantity of cars the applicant possesses,NaN
33,COMPANY,If the applicant has supplied the name of the ...,"Y,N"
34,PROFESSIONAL_STATE,State where the applicant works,NaN
35,PROFESSIONAL_CITY,City where the applicant works,NaN
36,PROFESSIONAL_BOROUGH,Borough where the applicant works,NaN
37,FLAG_PROFESSIONAL_PHONE,Indicates if the professional phone number was...,"Y,N"
38,PROFESSIONAL_PHONE_AREA_CODE,Three-digit pseudo-code,NaN
39,MONTHS_IN_THE_JOB,Time in the current job in months,NaN
40,PROFESSION_CODE,Applicant's profession code. Encoding not info...,"1,2,3,..."
41,OCCUPATION_TYPE,Encoding not informed,"1,2,3,4,5,NULL"
42,MATE_PROFESSION_CODE,Mate's profession code. Encoding not informed,"1,2,3,..."
43,EDUCATION_LEVEL,Mate's educational level in gradual order not ...,"1,2,3,4,5"
44,FLAG_HOME_ADDRESS_DOCUMENT,Flag indicating documental confirmation of hom...,0.1
45,FLAG_RG,Flag indicating documental confirmation of cit...,0.1
46,FLAG_CPF,Flag indicating documental confirmation of tax...,0.1
47,FLAG_INCOME_PROOF,Flag indicating documental confirmation of income,0.1
48,PRODUCT,Type of credit product applied. Encoding not i...,"1,2,7"
49,FLAG_ACSP_RECORD,Flag indicating if the applicant has any previ...,"Y, N"
50,AGE,Applicant's age at the moment of submission,NaN
51,RESIDENCIAL_ZIP_3,Three most significant digits of the actual ho...,NaN
52,PROFESSIONAL_ZIP_3,Three most significant digits of the actual jo...,NaN
53,TARGET_LABEL_BAD=1,"Target Variable: BAD=1, GOOD=0",NaN

In [4]:
# variable_list_df.to_json("variable_list_df.json")
# data_df.to_json("data_df.json")

In [10]:
variable_list_df["Var_Title"]
for i in data_df.columns:
    if i in [
        # "OTHER_INCOMES",
        # "QUANT_BANKING_ACCOUNTS",
        # "QUANT_SPECIAL_BANKING_ACCOUNTS",
        # "PERSONAL_ASSETS_VALUE",
        # "QUANT_CARS",
        # "COMPANY",
        "PAYMENT_DAY",
    ]:
        print("\n", data_df[i].value_counts().to_string())
        indices_for_value = variable_list_df["Var_Title"][
            variable_list_df["Var_Title"] == i
        ].index
        print(
            "\n",
            variable_list_df["Field_Content"][indices_for_value].to_string(),
            "\n----------------------",
        )

 PAYMENT_DAY
 10       20387
 15        8731
 5         7334
 25        7013
 20        4687
 1         1758
-99999       90

 2    1,5,10,15,20,25
----------------------

In [6]:
# Calculate the number of missing values for each column
missing_values = data_df.isnull().sum()

# Display columns with missing values and their counts
print(missing_values[missing_values > 0])

# Calculate the percentage of missing values for each column
missing_percentage = (data_df.isnull().sum() / len(data_df)) * 100
print(
    "----------------------------------------------\n",
    missing_percentage[missing_percentage > 50],
)

EDUCATION_LEVEL                 49174
RESIDENCIAL_PHONE_AREA_CODE      8212
RESIDENCE_TYPE                   1349
MONTHS_IN_RESIDENCE              3777
PROFESSIONAL_CITY               33783
PROFESSIONAL_BOROUGH            33783
PROFESSIONAL_PHONE_AREA_CODE    36532
PROFESSION_CODE                  7756
OCCUPATION_TYPE                  7313
MATE_PROFESSION_CODE            28884
EDUCATION_LEVEL.1               32338
dtype: int64
----------------------------------------------
 EDUCATION_LEVEL                 98.348
PROFESSIONAL_CITY               67.566
PROFESSIONAL_BOROUGH            67.566
PROFESSIONAL_PHONE_AREA_CODE    73.064
MATE_PROFESSION_CODE            57.768
EDUCATION_LEVEL.1               64.676
dtype: float64

In [7]:
# print(data_df.columns)

In [8]:
# data_df["PROFESSIONAL_STATE"].value_counts()